appdirs==1.4.4
autopep8==1.5.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
cssselect==1.1.0
decorator==4.4.2
fake-useragent==0.1.11
gitdb==4.0.5
GitPython==3.1.11
gurobipy==9.1.0
html5lib==1.1
idna==2.10
llvmlite==0.34.0
lxml==4.6.2
networkx==2.5
numba==0.51.2
numpy==1.19.4
parse==1.18.0
pycodestyle==2.6.0
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.3
selenium==3.141.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
toml==0.10.2
tqdm==4.54.0
urllib3==1.26.2
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
